h1{
    /* coloring */
    color: red;
    background: rgba(214, 222, 200, 0.895);
    border-color: rgb(238, 120, 2);
    
    /* bordering stying */
    border-style: double;
    border-width: 0.1em;
    border-radius: 0.2em;

    
    /* block sizing */
    width: 9%;
    
    
    /*block postitioning*/
    margin-left: 45rem;
    padding-left: 0.4em;
 
    
   


}
body{
    /* coloring */
    background-color: black;
}

#main{
    /* coloring */
    color: red;
    background: rgba(214, 222, 200, 0.895);
    border-color: rgb(238, 120, 2);


    /*font styling*/
    font-size: medium;



     /*border sizeing*/
     border-radius: 0.3em;
     width: 6%;
     border-style: double;
    

    

    /*block postitioning*/
    margin-left: 45em;
    padding-right: 1em;
    margin-top: 3rem;


}
li{
    /*list styling*/
    margin-top: 1em;
    margin-bottom: 1em
}


/* -------- Responsive -------- */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem auto;
        width: 30%;
    }

    #main {
        font-size: 0.9rem;
        padding-right: 2em;
        margin-left: 13rem;
        width: 20%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        padding: 0.5em;
    }

    #main {
        font-size: 0.8rem;
        padding: 0.6em;
    }
}
